html
  head
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title DocumentUp

    link(href='//fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Alegreya:400italic,700italic,400,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" type="text/css" href="/screen.css" media="all")
    
  body
    block content