/* ========================================================================== *
 * App module
 * -------------------------------------------------------------------------- */

/* ==================================== *
 * App container
 * ------------------------------------ */

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;

  main {
    display: flex;
    flex-direction: column;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child) {
      padding-top: $vertical-margin;
      // padding-top: calc(#{$vertical-margin} - .355em);
    }
  }
}

/* ==================================== *
 * View content
 * ------------------------------------ */

// Give block elements and universal bottom margin
#{$block-elements} {
  margin-bottom: $vertical-margin;
}

.view-content,
[role='main'].view-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  background: $white-2 linear-gradient(to right, $white-2  50%, $white-1 50%) fixed;
}

.primary-content {
  flex: 1;
  background: $white-1;
  padding: 90px;
  max-width: calc(180px + 47.235em);
  max-width: calc(180px + 75ch);
  box-shadow:
    35px 0 $white-1,
   -10px 0 35px rgba($blue-5, .075),
       0 0 10px rgba($blue-5, .1);

  @include until(1500px) {
    padding: calc(45px + 4vw);
    max-width: calc(90px + 8vw + 47.235em);
    max-width: calc(90px + 8vw + 75ch);
  }
}

.wide {
  width: 100%;
  max-width: 1500px;
}

.normal {
  width: 100%;
  max-width: 1100px;
}

// Narrow content
.narrow {
  width: 100%;
  max-width: 768px;
}

// Extra narrow content
.extra-narrow {
  width: 100%;
  max-width: 480px;
}

/* ==================================== *
 * Secondary
 * ------------------------------------ */

.secondary-content {
  flex: 0 1 auto;
  padding: 90px 45px;

  @include until(1500px) {
    padding: calc(45px + 4vw) calc(22.5px + 2vw);
  }

  a {
    display: flex;
    align-items: center;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
    transition: color $duration;
    line-height: 1;
    padding: 5px 7px;

    @include normal {
      color: inherit;
    }

    // Active state
    &:hover,
    &:focus,
    &:active,
    &.current {
      color: $blue-3;
    }
  }
}

a.h1,
a.h2 {
  font-weight: 700;
  font-size: $base-size - 2px;
  background: rgba($blue-5, .075);
  padding: 7px;

  &:not(:first-child) {
    margin-top: #{$base-line-height}em;
  }
}

a.h3,
a.h4,
a.h5,
a.h6 {
  font-size: $base-size - 3px;
  // background: rgba($blue-5, .025);

  &:hover,
  &:active,
  &:focus {
    background: rgba($blue-5, .025);
  }
}

nav.secondary-content {
  // position: sticky;
  // top: -50px;
  max-height: 100%;
  overflow-y: auto;
}