/* ========================================================================== *
 * App module
 * -------------------------------------------------------------------------- */

/* ==================================== *
 * Utilities
 * ------------------------------------ */

$view-width: 1590px;
$view-padding: 45px;
$secondary-width: 30%;
$tertiary-width: 370px;

/* ==================================== *
 * App container
 * ------------------------------------ */

.app {
  overflow-x: hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    white-space: pre-wrap;
  }
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;

  main {
    display: flex;
    flex-direction: column;
  }
}

/* ==================================== *
 * App header
 * ------------------------------------ */

.app-header {
  @include padded-module($view-width, $view-padding);
  background: $turquoise-2 linear-gradient(to bottom, $turquoise-2, $blue-4);
  color: $white-1;

  .icon {
    vertical-align: middle;
  }
}

/* ==================================== *
 * App header navigation
 * ------------------------------------ */

.app-navigation {

  .icon {
    margin-right: 8px;
  }

  @media (min-width: $breakpoint + 1px) {

    // Links
    a {
      display: flex;
      align-items: center;
      font-weight: 500;
    }

    // Thinner header nav icon stroke
    > a .icon,
    dt .icon {
      stroke-width: 1.25;
    }

    // Dropdown
    .dropdown {
      @include dropdown;
      padding-bottom: 10px;
      padding-top: 10px;
    }

    dt {
      display: flex;
      align-items: center;
      cursor: default;
      font-size: 13px;
      font-weight: 500;
    }
  }
}

/* ==================================== *
 * Headings
 * ------------------------------------ */

.headline {
  // font-weight: 500;
  // letter-spacing: .005em;
  font-size: 22px;

  .icon {
    margin-right: 10px;
    stroke-width: 1.25;
  }
}

.subheadline {
  display: flex;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

/* ==================================== *
 * View header
 * ------------------------------------ */

.view-header {
  z-index: 1;
}

/* ==================================== *
 * View header breadcrumbs
 * ------------------------------------ */

.breadcrumbs {
  position: relative;
  display: flex;
  align-items: center;
  height: $inner-header-height;
  @include padded-module($view-width, $view-padding);
  color: $white-1;
  font-size: 13px;
  font-weight: 500;
  box-shadow:
    0 1px 1px rgba($black-2, .1),
    0 3px 6px rgba($black-2, .1);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: shade($blue-4, 10%);
    z-index: -1;
  }

  a,
  span {
    color: inherit;
    text-decoration: none;

    &:not(:last-child) {
      position: relative;
      margin-right: 24px;

      &:after {
        content: '';
        position: absolute;
        right: -14px;
        top: 7px;
        width: 6px;
        height: 6px;
        border: solid tint($blue-4, 50%);
        border-width: 0 2px 2px 0;
        transform: rotate(-45deg);
        z-index: -1;
      }
    }
  }

  .icon {
    width: 14px;
    height: 14px;
    margin-top:  -3px;
    margin-right: 4px;
    @include whiten;
  }

  span {
    cursor: default;
  }
}

// Inner header navigation
// .inner-nav {
//   display: flex;
//   position: relative;

//   > a {
//     display: flex;
//     align-items: center;
//     white-space: nowrap;
//     font-weight: 500;
//     font-size: 13px;
//     padding: 6px 12px;
//     border-radius: 20px;
//     transition: background $duration;

//     &:not(:last-child) {
//       margin-right: 3px;
//     }

//     @include normal {
//       background: transparent;
//     }

//     @include active {
//       background: rgba($black-3, .2);
//     }
//   }

//   .icon {
//     vertical-align: middle;
//   }

//   a .icon {
//     margin-right: 6px;
//   }
// }

/* ==================================== *
 * View content
 * ------------------------------------ */

// Give block elements and universal bottom margin
#{$block-elements} {
  margin-bottom: $vertical-margin;
}

// // Section headings
// .section-heading  {
//   font-size: 17px;
//   font-weight: 600;
//   margin-bottom: 8px;
//   letter-spacing: -.005em;
// }

.view-content {
  flex: 1;
  display: flex;
  width: 100vw;
  max-width: $view-width + $view-padding * 2;
  margin: 0 auto;
}

.primary-content,
.secondary-content,
.tertiary-content {
  flex: 0 1 100%;
  align-content: flex-start;
}

.primary-content {
  order: 2;
  margin: 0 auto;
  padding: $view-padding;

  .secondary-content + & {
    // max-width: calc(100vw - #{$secondary-width});
    max-width: 61.8%;
  }
}

.secondary-content {
  order: 1;
  background: $white-3;
  box-shadow:
    -10px 0 25px rgba($blue-5, .025) inset,
     -2px 0 4px rgba($blue-5, .075) inset;
  padding: $view-padding 0 $view-padding $view-padding - 12px;
}

.tertiary-content {
  order: 3;
  padding: $view-padding;
}

@media (min-width: 800px) {
  .primary-content {
    flex: 1;

    .tertiary-content + & {
      // max-width: calc(100% - #{$secondary-width + $tertiary-width});
    }
  }

  .secondary-content {
    flex: 0 1 $secondary-width;
    // box-shadow: -1px 0 $gray-1 inset;
  }

  .tertiary-content {
    flex: 0 1 $tertiary-width;
    // box-shadow: 1px 0 $gray-1 inset;
  }
}

.wide {
  width: 100%;
  max-width: 1500px;
}

.normal {
  width: 100%;
  max-width: 1100px;
}

// Narrow content
.narrow {
  width: 100%;
  max-width: 768px;
}

// Extra narrow content
.extra-narrow {
  width: 100%;
  max-width: 480px;
}

/* ==================================== *
 * Secondary
 * ------------------------------------ */

.secondary-content {
  a {
    display: flex;
    align-items: center;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
    transition: color $duration;
    padding: 6px $view-padding 6px 12px;
    border-radius: 20px 0 0 20px;
    background: transparent;
    margin-top: -2px;

    &:first-child {
      margin-top: 0;
    }

    .icon {
      color: $gray-3;
      margin-right: 8px;
      vertical-align: middle;
      transition: color $duration;
    }

    @include normal {
      color: inherit;
    }

    // Active state
    &:hover,
    &:focus,
    &:active,
    &.current {
      color: $blue-2;

      .icon {
        color: $blue-2;
      }
    }

    &.current {
      background: rgba($blue-2, .25);
    }
  }
}

// Right-hand secondary sidebar
.tertiary-content {
  font-size: 12px;
  @include collapse-bottom;

  #{$block-elements} {
    margin-bottom: 12px;
  }
}

// Headers with calls to action
.action-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $content-padding;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }

  .icon {
    margin-right: 10px;
    stroke-width: 1.25;
  }
}











///////////////////












/* ========================================================================== *
 * Annotated code view module
 * -------------------------------------------------------------------------- */

@mixin fluid-padding {
  padding-left: 50px;
  padding-right: 50px;

  @include at-least(1000px) {
    padding-left: calc(20px + 2vw);
    padding-right: calc(20px + 2vw);
  }
}

$sidebar-width: 38.2%;
$document-width: 100% - $sidebar-width;
$fluid-sidebar-width: '50vw - 800px + (1600px * #{strip-unit($sidebar-width)} / 100)';

// .view-content {
//   @include padded-module(1600px);

//   pre,
//   code {
//     background: $white-1;
//     box-shadow: none;
//   }

//   pre {
//     padding: 20px;
//   }

//   @include until(1000px) {
//     background: mix($white-2, $white-3);
//     padding-left: 30px;
//     padding-right: 30px;
//   }

//   @include at-least(1000px) {
//     display: flex;
//     flex-flow: row wrap;
//     // align-items: baseline;
//   }

  // @include between(1000px, 1600px) {
  //   background:
  //     linear-gradient(
  //       to right,
  //       transparent,
  //       rgba($blue-5, .025),
  //       rgba($blue-5, .075)
  //     ) calc(100vw * (#{strip-unit($sidebar-width)} / 100) - 15px) 0 / 15px 1px repeat-y,
  //     linear-gradient(
  //       to right,
  //       mix($white-2, $white-3) $sidebar-width,
  //       $white-1 $sidebar-width
  //     ),
  //     mix($white-2, $white-3);
  // }

  // @include at-least(1600px) {
  //   background:
  //     linear-gradient(
  //       to right,
  //       transparent,
  //       rgba($blue-5, .025),
  //       rgba($blue-5, .075)
  //     ) calc(#{$fluid-sidebar-width} - 15px) 0 / 15px 1px repeat-y,
  //     linear-gradient(
  //       to right,
  //       mix($white-2, $white-3) calc(#{$fluid-sidebar-width}),
  //       $white-1 calc(#{$fluid-sidebar-width})
  //     ),
  //     mix($white-2, $white-3);
  // }
// }

// .secondary-content {
//   background: $white-3;
//   // min-height: 100vh;
//   @include at-least(1000px) {
//     flex: 0 1 #{$sidebar-width};
//     @include fluid-padding;

//     &:first-child {
//       padding-top: 40px;
//     }

//     // Headings
//     @for $i from 1 through length($headings) {
//       h#{$i} {
//         font-size: map-get($headings, $i) * .8;
//         margin-bottom: 16px;
//       }
//     }

//     pre {
//       font-size: 14px;
//       padding: 15px 20px;
//     }
//   }
// }

// .primary-content {
//   background: $white-1;
//   box-shadow:
//     -10px 0 25px rgba($blue-5, .025),
//      -2px 0 4px rgba($blue-5, .075);

//   @include at-least(1000px) {
//     flex: 0 1 #{$document-width};
//     padding-bottom: #{$base-line-height}em;
//     // margin: 0;
//     @include fluid-padding;

//     &:first-of-type {
//       padding-top: 50px;
//     }

//     pre,
//     code {
//       margin: 0;
//       padding: 0;
//       background: transparent;
//     }
//   }
// }