/* ========================================================================== *
 * App module
 * -------------------------------------------------------------------------- */

/* ==================================== *
 * Utilities
 * ------------------------------------ */

$view-width: 1590px;
$view-padding: 45px;
$secondary-width: 30%;
$tertiary-width: 370px;

/* ==================================== *
 * App container
 * ------------------------------------ */

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;

  main {
    display: flex;
    flex-direction: column;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    white-space: pre-wrap;
  }
}

/* ==================================== *
 * View content
 * ------------------------------------ */

// Give block elements and universal bottom margin
#{$block-elements} {
  margin-bottom: $vertical-margin;
}

.view-content,
[role='main'].view-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  background: mix($white-2, $white-3) linear-gradient(to right, mix($white-2, $white-3)  50%, $white-1 50%);
}

.primary-content {
  flex: 1;
  padding: $view-padding;
  max-width: calc(90px + 8vw + 75ch);
  background: $white-1;
  padding: 90px calc(45px + 4vw);
  box-shadow:
    35px 0 $white-1,
    -5px 0 35px rgba($blue-5, .15),
    -5px 0 15px rgba($blue-5,.075);
}

.secondary-content {
  flex: 0 1 auto;
  padding: $view-padding 0 $view-padding $view-padding - 12px;
}

.wide {
  width: 100%;
  max-width: 1500px;
}

.normal {
  width: 100%;
  max-width: 1100px;
}

// Narrow content
.narrow {
  width: 100%;
  max-width: 768px;
}

// Extra narrow content
.extra-narrow {
  width: 100%;
  max-width: 480px;
}

/* ==================================== *
 * Secondary
 * ------------------------------------ */

.secondary-content {
  a {
    display: flex;
    align-items: center;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
    transition: color $duration;
    padding: 6px $view-padding 6px 12px;
    border-radius: 20px 0 0 20px;
    background: transparent;
    margin-top: -2px;

    &:first-child {
      margin-top: 0;
    }

    .icon {
      color: $gray-3;
      margin-right: 8px;
      vertical-align: middle;
      transition: color $duration;
    }

    @include normal {
      color: inherit;
    }

    // Active state
    &:hover,
    &:focus,
    &:active,
    &.current {
      color: $blue-2;

      .icon {
        color: $blue-2;
      }
    }

    &.current {
      background: rgba($blue-2, .25);
    }
  }
}

// Right-hand secondary sidebar
.tertiary-content {
  font-size: 12px;
  @include collapse-bottom;

  #{$block-elements} {
    margin-bottom: 12px;
  }
}











///////////////////












/* ========================================================================== *
 * Annotated code view module
 * -------------------------------------------------------------------------- */

@mixin fluid-padding {
  padding-left: 50px;
  padding-right: 50px;

  @include at-least(1000px) {
    padding-left: calc(20px + 2vw);
    padding-right: calc(20px + 2vw);
  }
}

$sidebar-width: 38.2%;
$document-width: 100% - $sidebar-width;
$fluid-sidebar-width: '50vw - 800px + (1600px * #{strip-unit($sidebar-width)} / 100)';

// .view-content {
//   @include padded-module(1600px);

//   pre,
//   code {
//     background: $white-1;
//     box-shadow: none;
//   }

//   pre {
//     padding: 20px;
//   }

//   @include until(1000px) {
//     background: mix($white-2, $white-3);
//     padding-left: 30px;
//     padding-right: 30px;
//   }

//   @include at-least(1000px) {
//     display: flex;
//     flex-flow: row wrap;
//     // align-items: baseline;
//   }

  // @include between(1000px, 1600px) {
  //   background:
  //     linear-gradient(
  //       to right,
  //       transparent,
  //       rgba($blue-5, .025),
  //       rgba($blue-5, .075)
  //     ) calc(100vw * (#{strip-unit($sidebar-width)} / 100) - 15px) 0 / 15px 1px repeat-y,
  //     linear-gradient(
  //       to right,
  //       mix($white-2, $white-3) $sidebar-width,
  //       $white-1 $sidebar-width
  //     ),
  //     mix($white-2, $white-3);
  // }

  // @include at-least(1600px) {
  //   background:
  //     linear-gradient(
  //       to right,
  //       transparent,
  //       rgba($blue-5, .025),
  //       rgba($blue-5, .075)
  //     ) calc(#{$fluid-sidebar-width} - 15px) 0 / 15px 1px repeat-y,
  //     linear-gradient(
  //       to right,
  //       mix($white-2, $white-3) calc(#{$fluid-sidebar-width}),
  //       $white-1 calc(#{$fluid-sidebar-width})
  //     ),
  //     mix($white-2, $white-3);
  // }
// }

// .secondary-content {
//   background: $white-3;
//   // min-height: 100vh;
//   @include at-least(1000px) {
//     flex: 0 1 #{$sidebar-width};
//     @include fluid-padding;

//     &:first-child {
//       padding-top: 40px;
//     }

//     // Headings
//     @for $i from 1 through length($headings) {
//       h#{$i} {
//         font-size: map-get($headings, $i) * .8;
//         margin-bottom: 16px;
//       }
//     }

//     pre {
//       font-size: 14px;
//       padding: 15px 20px;
//     }
//   }
// }

// .primary-content {
//   background: $white-1;
//   box-shadow:
//     -10px 0 25px rgba($blue-5, .025),
//      -2px 0 4px rgba($blue-5, .075);

//   @include at-least(1000px) {
//     flex: 0 1 #{$document-width};
//     padding-bottom: #{$base-line-height}em;
//     // margin: 0;
//     @include fluid-padding;

//     &:first-of-type {
//       padding-top: 50px;
//     }

//     pre,
//     code {
//       margin: 0;
//       padding: 0;
//       background: transparent;
//     }
//   }
// }

// .primary-content {
//   font-size: 18px;
//   width: 47.25em;
//   width: 75ch;
//   max-width: 100%;
//   margin: 1.5em auto;
// }