/* ========================================================================== *
 * Document module
 * -------------------------------------------------------------------------- */

/* ===================================== *
 * Common
 * ------------------------------------- */

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
}

/* ===================================== *
 * Document
 * ------------------------------------- */

html,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  font-weight: 400;
  font-size: $base-size;
}