/* ========================================================================== *
 * d. Media module
 * -------------------------------------------------------------------------- */

/* ===================================== *
 * i. Utility
 * ------------------------------------- */

// Fluid Embeds
@mixin embed {
  width: 100%;
  // height: calc(9 / 16 * #{$content-width});

  // @media (max-width: $content-width + $content-padding * 2) {
  //   height: calc(9 / 16 * 100vw - #{$content-padding});
  // }
}

// Image caption mixin
@mixin figcaption {
  font-size: 14px;
  color: $gray-3;
}

// Extendable image caption placeholder
%figcaption {
  @include figcaption;
}

/* ===================================== *
 * ii. Common
 * ------------------------------------- */

// Media
img,
video {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

img[src$="centerme"] {
  display:block;
  margin: 0 auto;
}
